html {
    background-color: #ebf5ff;
}

#nav {
    background-color: #519ce7;
    /*font-family: 'Duru Sans', sans-serif; 
    color: #333;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 198px 10px 10px;
    font-size: 18pt; */
}

.navitem:hover {
    cursor: pointer;
}

.navitem:active {
    color: #F9EEB3;
}


#designate {
   /* font-family: 'Duru Sans', sans-serif;
    color: #333;
    font-size: 8pt;
    padding: 0px 20px 0px 20px; */
}

